/* home */

.home{
    height: 100vh;
}

#photo{
    height: 200px;
    border-radius: 50%;
}

/* Resume */

#resume{
    height: 100vh;
}

#skills{
    height: 100vh;
}

#image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}