/* nav2 */


.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
img{
    width: 35px;
    margin-right: 15px;
    position: relative;
}


.side-navbar{
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: width 0.3s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    width: 60px;
}
.navbar-item #anchor{
    text-decoration: none;
    color: black;
    position: relative;
    width: 170px;
    display: table;
    text-align: left;
    font-weight: 900;
}

#anchor:hover{
    background-color: aquamarine;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.side-navbar:hover{
    width: 215px;
    transition: 0.5s ease-in-out;
}


/* home */
.home{
    height: 100vh;
}

h1{
    font-family: "Sofia", sans-serif;
    color: black;
}

.home h1 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
  }

#photo{
    height: 250px;
    border-radius: 50%;
    padding: 5px;
    width: 250px;
    animation-name: mainAnim;
    
}

#animation{
        height:0px;
        width:0;
        margin-top:50px;
        background: transparent;
        transform:rotate(0deg);
        transform-origin:center;
        animation:grow 15s linear forwards infinite;
        
      }
      @keyframes grow{
        to {width:1180px;}
      }



/* Resume */

.Resume{
    /* height: 100vh; */
    background-color: whitesmoke;
} 

.Resume img{
    width: 200px;
}


/* Skills */
#skills{
    height: 100vh;
}

#skills #image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Skills at 720px screens */
@media screen and (min-width: 720px) {
    #image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    
    ul li p{
        text-align: center;
    }
}


/* Projects */
/* #projects{
    height: 100vh;
} */

.card-img-top:hover{
    transform: scale(1.1) rotate(0deg);
}

.card-body{
    background: rgb(27, 27, 27, .5);
    color: white;
}


.card-text{
    visibility: visible;
    opacity: 1;
    
}


.card{
    width: 14rem;
}

/* project at 720px screens */
@media screen and (min-width: 720PX) {
    #projects {
        padding-left: 60px;
    }

    .card{
        width: 20rem;
    }

    .card-img-top:hover{
        transform: scale(1.1) rotate(0deg);
        /* display: none; */
    }
    
    .card:hover{
        cursor: pointer;
        transform: scale(1.1) rotate(0deg);
        /* display: none; */
    }
    .card-body{
        background: rgb(whitesmoke, whitesmoke, whitesmoke, .5);
        color: white;
    }
    
    .card:hover .card-body{
        bottom: 245px;
        /* display: none; */
    }   
    
    .card-text{
        visibility: none;
        opacity: 0;
    }
    
    .card:hover .card-text{
        visibility: visible;
        opacity: 1;
        /* display: none; */
    } 
    .card h5{
        font-size: 24px;
        font-weight: 600;
    }
    .card p{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
} 
/* projects media query end */

/* contact */
.contacts{
    width: 100vh;
}

.form{
    text-align: right;
    display: table;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
}

/* testimonials */
#testimonials img{
    width: 250px;
    height: 250px;
}






















